/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  padding-left: 0;
  flex-basis: 100%;
  @include flex;
  @include column;

  @media #{$brk-wide} {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-link {
  text-align: center;
  @include radius;
  padding: 10px 0;
  @include block;
  width: 100%;
  transition:
    background-color .2s ease-in-out,
    color .2s ease-in-out;

  @media #{$brk-wide} {
    flex-basis: 100px;
  }
}

.nav-link:hover {
  color: $color-4;
  background-color: $color-1;
}
