
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $color-2;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $color-1;
  margin-left: 10px;
}

.headline-secondary {
  @include weight-300;
  color: $color-2;
}

.link {
  color: $color-3;
  font-weight: 700;
}

.blockquote {
  @include weight-300;
  font-size: 1.5em;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid #58e1c1;
  @include radius;
}
